<template>
  <k-inside>
    <template v-if="pages.length > 0">
      <h1 class="k-header-title">Pages</h1>
      <section v-for="page in pages" :key="page.uri">
        <h2 class="k-label">{{ page.title }}</h2>
        <div class="k-table">
          <table>
            <thead>
              <tr>
                <th class="k-comment-author">
                  {{ $t("adrienpayet.front-comments.author") }}
                </th>
                <th class="k-comment-message">
                  {{ $t("adrienpayet.front-comments.message") }}
                </th>
                <th class="k-comment-date">
                  {{ $t("adrienpayet.front-comments.date") }}
                </th>
                <th class="k-comment-time">
                  {{ $t("adrienpayet.front-comments.time") }}
                </th>
                <th class="k-comment-actions"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="comment in page.comments" :key="comment.id">
                <td class="k-comment-author">
                  <div class="author-wrapper">
                    <k-icon v-if="comment?.team === 'code'" type="code" />
                    <k-icon v-if="comment?.team === 'design'" type="palette" />
                    <k-icon v-if="comment?.team === 'content'" type="pen" />
                    {{ comment.author }}
                  </div>
                </td>
                <td class="k-comment-message" v-html="comment.message"></td>
                <td class="k-comment-date">
                  {{ comment.date }}
                </td>
                <td class="k-comment-time">
                  {{ comment.time }}
                </td>
                <td class="k-comment-actions">
                  <k-options-dropdown
                    :options="'comments/' + comment.id + '/' + page.uri"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </template>
    <h1 v-else class="k-header-title">
      {{ $t("adrienpayet.front-comments.no-comment") }}
    </h1>
  </k-inside>
</template>

<script setup>
const { pages, csrf } = defineProps({
  pages: Array,
  csrf: String,
});

sortByDate();

function convertToDate(dateString, timeString) {
  const [day, month, year] = dateString.split("/");
  const [hour, minute] = timeString.split(":");
  return new Date(`20${year}-${month}-${day}T${hour}:${minute}:00`);
}

function sortByDate() {
  const convertCommentDate = (comment) =>
    convertToDate(comment.date, comment.time);

  pages.forEach((page) => {
    page.comments.sort((commentA, commentB) => {
      const dateA = convertCommentDate(commentA);
      const dateB = convertCommentDate(commentB);
      return dateB - dateA;
    });
  });

  pages.sort((pageA, pageB) => {
    const lastCommentA = pageA.comments[pageA.comments.length - 1];
    const lastCommentB = pageB.comments[pageB.comments.length - 1];
    const dateA = convertCommentDate(lastCommentA);
    const dateB = convertCommentDate(lastCommentB);
    return dateB - dateA;
  });
}

function remove(commentId, pageUri) {
  const pageIndex = pages.findIndex((page) =>
    page.comments.some((comment) => comment.id === commentId)
  );
  const commentIndex = pages[pageIndex].comments.findIndex(
    (comment) => comment.id === commentId
  );

  const updatedComments = pages[pageIndex].comments.filter(
    (comment) => comment.id !== commentId
  );

  pages[pageIndex].comments = updatedComments;

  const init = {
    method: "PATCH",
    headers: {
      "X-CSRF": csrf,
    },
    body: JSON.stringify({
      comments: updatedComments,
    }),
  };

  fetch("/api/pages/" + pageUri.replace("/", "+"), init)
    .then((response) => response.json())
    .then((response) => {
      console.log(response);
      console.log("Page successfully updated.");
    })
    .catch((error) => {
      console.log(error);
    });
}
</script>

<style scoped>
h2 {
  margin-bottom: 1rem;
}

.k-comment-author .k-icon {
  display: inline-block;
  margin-right: 1rem;
}

.k-table .k-table-index-column {
  width: 6rem;
}

section {
  margin-bottom: 2rem;
}

.k-table td {
  padding: 0.5rem;
  height: 100%;
}

.k-comment-author {
  width: 15rem;
}

.author-wrapper {
  display: flex;
}

.k-comment-message {
  width: 100%;
}

.k-comment-date {
  width: 6rem;
}

.k-comment-time {
  width: 5rem;
}

.k-comment-actions {
  width: 2rem;
}
</style>
